# Build outputs
out/
[Bb]in/
[Oo]bj/
[Ll]og/
TestResults/
**/pkg/Debug

# Restored packages
packages/

# VS temporary files
.vs/
*.user

###
# Secret Disclosure Risks
# From: AzSec@microsoft.com
###

# *.pfx
*.[Pp][Ff][Xx]

# *.key
*.[Kk][Ee][Yy]

# *.sst
*.[Ss][Ss][Tt]

# *.p12
*.[Pp]12

# *.pvk
*.[Pp][Vv][Kk]

# wdsconfig.xml
[Ww][Dd][Ss][Cc][Oo][Nn][Ff][Ii][Gg].[Xx][Mm][Ll]

# wdsdeploy.xml
[Ww][Dd][Ss][Dd][Ee][Pp][Ll][Oo][Yy].[Xx][Mm][Ll]

# accounts.xml
[Aa][Cc][Cc][Oo][Uu][Nn][Tt][Ss].[Xx][Mm][Ll]

# deploymentsecrets.xml
[Dd][Ee][Pp][Ll][Oo][Yy][Mm][Ee][Nn][Tt][Ss][Ee][Cc][Rr][Ee][Tt][Ss].[Xx][Mm][Ll]
[Ss][Yy][Ss][Pp][Rr][Ee][Pp].[Ii][Nn][Ff]

# Unix tools, Vim/Emacs included
*~
*.swp

# Office
~$*

###

# Repository Bloat Risks
*.7[Zz]
*.[Bb][Ii][Nn]
*.[Cc][Aa][Bb]
*.[Dd][Ll][Ll]
*.[Dd][Mm][Pp]
*.[Ee][Tt][Ll]
*.[Ee][Xx][Ee]
*.[Gg][Zz]
*.[Ll][Ii][Bb]
*.[Mm][Ss][Ii]
*.[Mm][Ss][Uu]
*.[Nn][Uu][Pp][Kk][Gg]
*.[Pp][Dd][Bb]
*.[Rr][Aa][Rr]
*.[Ss][Oo]
*.[Vv][Hh][Dd]
*.[Ww][Ii][Mm]
*.[Zz][Ii][Pp]

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/
/out/pkg/NeptuneSF

# docfx artifacts
/Documentation/_site

# PEM local dev
*.cer
*.pem
*.pfx
*.x5t
*.crt
package*.json
node_modules/
coverage.cobertura.xml
coverage.opencover.xml
coverage.json
node_modules/
/Neptune/Neptune.Spark/Artifacts/SparkApps/.idea
/Neptune/Neptune.Spark/Artifacts/SparkApps/Utils/__pycache__
/Neptune/Neptune.Spark/Properties/PublishProfiles
/Neptune/Neptune.Powershell/jsonweb/*.json
/Neptune/NeptuneAppEv2Packaging/Microsoft.PowerPlatform.NeptuneApp/
/Neptune/Neptune.Spark/Artifacts/SparkApps/PowerAutomate/__pycache__
/Neptune/Neptune.Spark/.idea/*
/Neptune/Neptune.Spark/Artifacts/.vscode
/Neptune/Neptune.Spark/Artifacts/SparkApps/.devcontainer
/Neptune/Neptune.Spark/Artifacts/SparkApps/.vscode
/Neptune/Neptune.Spark/Artifacts/SparkApps/Utils/AKS/__pycache__
/Neptune/Neptune.Spark/Artifacts/SparkApps/Consumption/Utils/__pycache__
dotnet
msbuild
/Neptune/Neptune.DW/*.jfm
/Neptune/Neptune.DW/*.publish.xml
/Neptune/Neptune.DW/*.dbmdl
**/__pycache__/
/Neptune/Neptune.AI/.claude/settings.local.json
